TELEGRAM_BOT_TOKEN=your_token_here
PAYMENT_CARD_HOLDER=Your Name
PAYMENT_CARD_NUMBER=1234-5678-9012-3456
BOT_ADMINS=12345678,87654321
MAIN_MENU_LAYOUT_MODE=auto
MAIN_MENU_COLUMNS=1
MAIN_MENU_MANUAL_LAYOUT=[["button1","button2"],["button3"]]
